.button__more{
    background-color: white;
    font-family: Inter;
    font-size: 15px;
    font-weight: 500;
    line-height: 18.15px;
    text-align: left;
    color: #E05E00;
    padding: 16px 57px 16px 57px;
    border: 3px solid #E05E00;
    border-radius: 40px;
}

.button__more:hover{
    cursor: pointer;
    background-color: #E05E00;
    color: white;
    transition: 0.3s;
}